{{ partial "header" . }}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">

</title>

</head>

<body style="margin-top: 0"><form name="aspnetForm" method="post" action="default.aspx" id="aspnetForm">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTY1NDU2MTA1MmRkdbxUtOdy6NDbV9pMi88MQ7Q3d88=" />
</div>
	
	<div id="HomeContent">
        <h2>                              Introduction to Eastinco Consulting</h2>
    <p>
    Welcome to Eastinco Consulting Limited. We solve our customer's business and technical problems 
	for their product development (hardware, firmware and software). As experts in real time embedded C++ and .NET, we help developers by <a href="/services" target="_top">mentoring, training, 
    and supporting the development process</a>. We help non-developer firms by writing software for them or helping them manage their projects. 
    We program in a variety of languages, but especially in C++. We provide architectural vision and inspiration, manage projects, provide business and management advice.
    </p>
    <p>Some recent projects in 2020:</p>
    <ul>
        <li> Developed C++ low power (LoRa) wireless application on STM32 processor module.
        <li> Developed firmware for wireless system using long range and short range 433HZ transceivers.
        <li> Developed C# application in .Net Core and then ported into embedded Linux.
        <li> Developed real time video application in C++11 for object detection using machine learning platform Darknet YoloV3.
        <li> Deployed data recording and video analyzing application into cloud via AWS EC2 and S3 with docker.            
    </ul>
  <!--  <p>&nbsp;</p>  //-->
    <h2>What we do</h2>
    <p>
    We provide consulting service to help our clients solve their business problems. Often, our contribution is in the form of  <a href="/services" target="_top">programming</a>, project management
    technical writing, or <a href="/services" target="_top">training</a>. Other times it's a feasibility study to help map out a path the client can
    follow. We also provide <a href="/services" target="_top">mentoring</a> to small developer teams to help them adopt new technologies. These days people ask us for advice about C++ a lot, or moving from a Windows-only world to a cross-platform world. We're
    following the latest developments for our clients and breaking new ground in this exciting wave of technology development. 
    </p>
    <h2>Our history and people</h2>
    <p> 
    Eastinco Consulting was founded in 2017 as a software development and consulting firm. One of our founding partners, <a href="/about" target="_top">Qiang Yu</a>, is our chief 
	<a href="/services" target="_top">mentor</a> with over 15 years of software development experience.
    Our other founding partner, <a href="/services" target="_top">Yue Zheng</a>, also has over one decades of software development experience and handles our <a href="/services" target="_top">programming
    contracts</a>, system administration and much of our general <a href="/services" target="_top">consulting</a>.
	In the past, we've had a number of other employees and associates. At the moment we are content with just the two partners, and some associates available to us when we need more horsepower on a particular project.
    </p>
    <h2>Where we are</h2>
    <p>
    Our <a href="/contact" target="_top">office</a> is in Bristol, UK.&nbsp; We get into European when we need to -- and Bristol has an airport
    that can get us anywhere.
    </p>

</div>
</form>

</body>

</html>


{{ partial "footer" . }}
